@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-display: 'Oswald', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-wiggle {
  animation: wiggle 2s infinite linear;
}

@keyframes wiggle {
  0%   { transform: rotateX(-5deg) rotateY(-5deg); }
  25%  { transform: rotateX(3deg)   rotateY(5deg); }
  50%  { transform: rotateX(7deg)  rotateY(-6deg); }
  75%  { transform: rotateX(0deg)   rotateY(-5deg); }
  100% { transform: rotateX(5deg) rotateY(5deg); }
}